@font-face {
    font-family: 'goodbyeDespair';
    src: URL('../goodbyeDespair.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
     height: 100%;
     overflow: hidden;  
}

body{
    background-image: url('/visuals/HopesPeak.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    backdrop-filter: blur(2px);
    transition: background-image 0.2s ease-in-out;
}

/* HEADER */
header{
    height: 8vh;
    background-color: white;
    display: flex;
}

#left{
    width: 25%;
    background-color: black;
    z-index: 1;
}

#left::before{
    content: "";
    background-color: black;
    padding-left: 10vw;
    width: 25%;
    height: 8vh;
    z-index: -1;
    position: absolute;
    transform: skew(-40deg, 0deg);
    border-right: solid #9A2323 1vh;
}

#left-text{
    font-family: 'Source Sans Pro';
    color:white;
    font-size: min(5vw,3vh);
    padding-left: 1vh;
    padding-top: 0;
    margin-top: 0;
}

#topleft{
    height: 50%;
}

#nav-buttons{
    display: flex;
    align-content: center;
    transform: translateX(-88%);
    transition: 1000ms;
}

#bottomleft{
    height: 50%;
    display: flex;
    align-content: center;
}

button, a{
    background: transparent;
    outline:none;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding-left: 1.2vh;
    padding-right: 1vh;
}

#right{
    width: 75%;
}

#topright{
    height: 50%;
    background-color: #403B3F;
}

#topright-text{
    font-family: 'goodbyeDespair';
    color: white;
    font-size: 4vh;
    text-align: right;
    padding-right: 1vh;
}

#bottomright{
    height: 50%;
}

.bottomright-text{
    font-family: 'Source Sans Pro';
    font-size: 3vh;
    text-align: right;
    transform: translateX(300%);
    transition: 1000ms;
    position: absolute;
    right: 1vh;
}

/* SVGs */
.svgs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:92vh;
    width:100vw;
}

.svg-container{
  transition-duration: 1000ms;
  height: 65vh;
  width: 55vw;
  right: 22.5%;
  top: 21.5%;
}

#gun-container{
    position: absolute;
    z-index: -2;  
}

#circle-container{
    position: absolute;
    z-index: -2;  
    transform: translate(-3vw,-3.35vh);
}

#smallcircle-container{
    position: absolute;
    z-index: -2; 
    transform: translate(-1.65vw,-1.75vh); 
}

.whitespace{
    opacity: 0;
}

.dark{
    fill: #f24957; 
}

.light{
    fill: #f25764; 
}

.white{
    stroke:white;
}

#gun{
    opacity: .8;
    animation: rotate 10s infinite;
    animation-timing-function: linear;
    height: 100%;
    width: 100%;
}
@keyframes rotate{
    from{
    transform: rotate(0deg);
    }to{
        transform:rotate(-360deg);
    }
}

#circle{
    opacity: .8;
    animation: rotate2 5s infinite;
    animation-timing-function: linear;
    height: 111%;
    width: 111%;
}
@keyframes rotate2{
    from{
    transform: rotate(0deg);
    }to{
        transform:rotate(-360deg);
    }
}
#smallcircle{
    opacity: .8;
    animation: rotate3 10s infinite;
    animation-timing-function: linear;
    height: 106%;
    width: 106%;
}
@keyframes rotate3{
    from{
    transform: rotate(0deg);
    }to{
        transform:rotate(360deg);
    }
}

/* MENUS */
.menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #403B3F;
    border-bottom: solid white;
    transition-duration: 1000ms;
    transform: translateY(1000%);
}

.player-menu{
    bottom: 6vh;
    left: 5vh;
    width: 70%;
}

.option{
    font-family: 'Source Sans Pro';
    font-size: 2vmax;
    color: white;
    border: solid white;
    border-bottom: 0;
    padding: 5px;
    cursor: pointer;
}

.option:hover{
    background-color: #f25764; 
   /*  background-color: rgb(73, 186, 224); */
}

#start{
    text-align: center;
    width: 50vw;
    transform: translateY(0%);
}

.form{
    border: solid white;
    color: white;
    padding: 10px;
    font-family: 'Source Sans Pro';
    display: flex;
    justify-content: center;
}

.form-input{
    display: block;
    margin-bottom: 10px;
}

#login-button{
    margin-left: 25%;
    margin-right: 25%;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}  

.preload * {
 -webkit-transition: none !important;
 -moz-transition: none !important;
 -ms-transition: none !important;
 -o-transition: none !important;
 transition: none !important;
}